@font-face {
    font-family: eightBit;
    src: url(./8-BIT-WONDER.TTF);
  }

.Race {
    border: 1px solid red;
    width: 100%;
    height: 240px;
    position: relative;
    overflow: hidden;
}

.Race:before {
    content: '';
    position: absolute;
    top: 50%;
    font-size: 150px;
    font-family: eightBit;
    z-index: 1;
    color: white;
    margin-top: -15px;
    -webkit-text-stroke: 5px black;
}

.Race[state="starting"]:before {
    right: 50px;
    transform: translateY(-50%);
    animation: race-starting-text 4.5s linear forwards;
}

.Race[state="finished"]:before {
    content: 'FINISH';
    opacity: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: race-finished-text 2s linear forwards;
    animation-delay: 1.5s;
}

.Race[state="finished"]:after {
    position: absolute;
    content: '';
    background-image: url('./finish.png');
    background-size: 130px;
    background-position: center;
    transform: rotate(90deg);
    animation: finish 2s linear forwards;
    width: 132px;
    height: 20px;
    top: 140px;
}

.Race .Race-image {
    background-image: url('./road.png');
    background-size: 400px;
    background-position: top;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 200%;
    transform: translate3d(0, 0, 0);
}

.Race[state="running"] .Race-image {
    animation: race-running 2s linear infinite;
}

.Race[state="finished"] .Race-image {
    animation: race-finished 2s linear forwards;
}

.Kart {
    transition: margin-left ease 1s;
    background-size: contain;
    position: absolute;
    left: 50%;
    width: 100px;
    height: 100px;
    z-index: 1;
}

.Race[state="finished"] .Kart {
    animation: race-finished-kart 2s linear forwards;
    animation-delay: 2s;
}

.Kart:nth-child(even) {
    top: 15px;
}

.Kart:nth-child(odd) {
    top: 90px;
    z-index: 2;
}
.Kart:after {
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
}

.Kart.is-solved:after {
    background-image: url('./explosion.gif');
    width: 32px;
    height: 32px;
    bottom: 0;
    left: -8px;
}

.Kart.is-failed:after {
    background-image: url('./smoke.gif');
    width: 128px;
    height: 64px;
    bottom: -20px;
    left: 100%;
    margin-left: -85px;
}

.Kart .Kart-image {
    width: 100%;
    height: 100%;
    animation-direction: alternate;
    background-image: url('./kart.png');
    background-size: contain;
}

.Race[state="running"] .Kart .Kart-image {
    animation: engine .15s linear infinite;
}

.Race[state="running"] .Kart.is-solved .Kart-image {
    animation: is-solved 1s ease;
}

.Race[state="running"] .Kart.is-failed .Kart-image {
    animation: is-failed 1s ease;
}


.Kart .name {
    font-family: eightBit;
    font-size: .8rem;
    color: white;
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    text-align: center;
}

@keyframes race-running {
    100% { transform: translateX(-50%); }
}

@keyframes race-finished {
    100% { transform: translateX(-50%); }
}

@keyframes race-finished-kart {
    100% { left: 200%; }
}

@keyframes race-starting-text {
    0% { content: '3'; }
    50% { content: '2'; }
    60% { content: '1'; }
    100% { content: ''; }
}

@keyframes race-finished-text {
    80% { opacity: 0; }
    100% { opacity: 100%; }
}

@keyframes engine {
    0% { margin-top: -2px; }
    100% { margin-top: 0; }
}

@keyframes is-solved {
    20% { transform: rotate(-15deg); }
    80% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}

@keyframes is-failed {
    20% { transform: rotate(15deg); }
    80% { transform: rotate(15deg); }
    100% { transform: rotate(0deg); }
}

@keyframes finish {
    00% { left: 100%; }
    100% { left: 0; }
}