@font-face {
    font-family: eightBit;
    src: url(./8-BIT-WONDER.TTF);
  }

.Race {
    border: 1px solid red;
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.Race .image {
    background-image: url('./road.png');
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 200%;
    animation: race 2s linear infinite;
    transform: translate3d(0, 0, 0);
}

.Kart {
    transition: margin-left ease 1s;
    background-size: contain;
    position: absolute;
    left: 50%;
    width: 100px;
    height: 100px;
}

.Kart:nth-child(even) {
    top: 75px;
}

.Kart:nth-child(odd) {
    top: 160px;
}

.Kart.is-solved .image {
    animation: is-solved 1s ease;
}

.Kart.is-failed .image {
    animation: is-failed 1s ease;
}

.Kart .image {
    width: 100%;
    height: 100%;
    animation: engine .15s linear infinite;
    animation-direction: alternate;
    background-image: url('./kart.png');
}

.Kart .name {
    font-family: eightBit;
    font-size: .8rem;
    color: white;
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    text-align: center;
}

@keyframes race {
    100%  { transform: translateX(-50%); }
}

@keyframes engine {
    0%  { margin-top: -2px; }
    100%  { margin-top: 0; }
}

@keyframes is-solved {
    20%  { transform: rotate(-15deg); }
    80%  { transform: rotate(-15deg); }
    100%  { transform: rotate(0deg); }
}

@keyframes is-failed {
    20%  { transform: rotate(15deg); }
    80%  { transform: rotate(15deg); }
    100%  { transform: rotate(0deg); }
}